# Copy this file to .env.local and fill in your values
NEXT_PUBLIC_SANITY_PROJECT_ID=kgfvpijk
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=sktJ6IC72KWQciJ2URSwGBb7WPRq5XQzPpFSkzEbrobWsHCPVb69EyVclsHEjvfwLyyCHrIJ3iXoOkdEgy9G5F2ngLM2dELQRK4WqrfLFfNaXVAptHGF0MUmtGCUDwJ2SOlr9WMbkdPQ1c89Ou9TtAZ5ODQixZ1lkdv7D04xhQ5z8sP4rnje

# Instructions:
# 1. Copy this file to .env.local
# 2. Make sure .env.local is in your .gitignore
# 3. Restart your development server after creating .env.local
